/*This is my CSS style sheet*/

/*|| Sitewide*/

    /*|| Layout*/
        body {
            max-width: 80%;
            margin: 0 auto;
            background-color: #000000;
        }

        #content {
            margin: auto;
            padding: .5rem;
            display: block;
            text-align: center;
        }
        div.input {
            margin: 1rem;
        

        }

        #form {
            display: none;
            text-align: center;
        }

        div.result {
            margin: 1rem;
        }

        section {
            margin-inline-start: 5rem;
            margin-inline-end: 5rem;
        }
       
    /*|| Text*/

        h1 {
            font-family: Arial, Helvetica, sans-serif;
            text-align: center;
            font-size: 3vw;
            letter-spacing: .5em;
            text-shadow: 2px -1px #800080;
            color:#e90df9;
        }

        h2 {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 2vw;
            text-align: center;
            color: #00ffff;
        }

        h3 {
            font-size: 1.5vw;
        }

        p {
            font-size: 1vw;
        }


        h3,
        p,
        form {
            font-family: Arial, Helvetica, sans-serif;
            color: #00FF41;
        }

        footer {
            margin-top: 20px;
            font-size: 1vw;
            color: #ffffff;
            
        }


        #counter,
        h4 {
            font-family:'Courier New', Courier, monospace;
            color: #ff0000;
            font-size: 1vw;
        }


/*|| Media Queries*/


@media (hover: none) {
    body{
        max-width: 100%;
        background-image: none;
    }

    .content {
        box-shadow: none;
    }


    img.main {
        max-height:30rem;
    }

    h1 {
        font-size: 5vw;
    }

    h2 {
        font-size: 4vw;
    }

    h3 {
        font-size: 3vw;
    }

    p {
        font-size: 4vw;
    }

    h1,
    h2,
    h3 {
        text-align: center;
    }

    div.gallery {
        display: block;
    }
    
    img.gallery {
        height: 30rem;
        width: auto;
    }

    div.blog {
        display: block;
    }
    
    article.blogpost {
        height: auto;
        max-height:20rem;
        margin-top: 1rem;
        overflow: auto;
    }
    
    .album {
        text-align: center;
    }
    ul {
        display: inline-block;
        text-align: left;
    }

    li {
        font-size: 3vw;
    }

    div.list {
        text-align: center;
    }

    footer {
        font-size: 3vw;
        text-align: center;
        margin-top: 10rem;
    }

    nav {
        font-size: 3vw;
    }

    thead {
        border: 2px solid black;
        font-size: 3vw;
    }

    td {
        border: 2px solid black;
        padding: .5rem;
        font-size: 3vw;
    }

    tfoot td {
        border: none;
        font-size: 3vw;
    }

    caption {
        font-size: 3vw;
    }
    #counter,
        h4 {
            font-family:'Courier New', Courier, monospace;
            color: #ff0000;
            font-size: 2vw;
        }
}

@media screen and (max-width: 768px) {
    body{
        max-width: 100%;
        background-image: none;
    }

    .content {
        box-shadow: none;
    }

    img.main {
        max-height: 10rem;
    }

    h1,
    h2,
    h3 {
        text-align: center;

    }

    h1 {
        font-size: 5vw;
    }

    h2 {
        font-size: 4vw;
    }

    h3 {
        font-size: 3vw;
    }

    p {
        font-size: 4vw;
    }
    div.gallery {
        display: grid;
        grid-gap: 1rem;
        margin: auto;
    }

    img.gallery {
        height: 20rem;
        width: auto;
    }
    
    .album {
        text-align: center;
    }

    div.blog {
        display: block;
    }
    
    article.blogpost {
        height: auto;
        max-height: 20rem;
        margin-top: 1rem;
        overflow: auto;
    }
    ul {
        display: inline-block;
        text-align: left;
    }

    li {
        font-size: 3vw;
    }

    div.list {
        text-align: center;
    }
    
    footer {
        font-size: 3vw;
        margin-top: 10rem;
    }
    
    nav {
        font-size: 3vw;
    }

    thead {
        border: 2px solid black;
        font-size: 3vw;
    }

    td {
        border: 2px solid black;
        padding: .5rem;
        font-size: 3vw;
    }

    tfoot td {
        border: none;
        font-size: 3vw;
    }

    caption {
        font-size: 3vw;
    }
    #counter,
        h4 {
            font-family:'Courier New', Courier, monospace;
            color: #ff0000;
            font-size: 2vw;
        }
}