h1{
    color: white;
    text-align: center;
}

h2 {
    text-align: center;
}
.button {
    color:#ffffff;
    padding: 10px 15 px;
    border: 1px solid transparent;
    background: #444444;
}

.disabled {
    background: #d8d8d8;
}

img { 
    display: block;
    margin: auto;
    height: 30rem;
    width: auto;
    border: .5rem solid rgb(227, 167, 16);
}

button {
    display: block;
    margin: 1rem auto;
}

body {
    background-image: url("VueImages/StarryNight.jpg");
   
}

aside {
    background-color: white;
    display:inline;
}